@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=DM+Sans:wght@400;700&display=swap');
@import "tailwindcss";

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-move 4s ease infinite;
}
